.counter {
  width: 50px;

  button {
    width: 100%;
    height: 20px;
  }
  .indicators {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
