.editTaskModal {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // animation: upModal 1s ease-in-out forwards;

  .top {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    input {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      box-sizing: border-box;
      border: none;
      padding: 0px 10px;
      font-size: 15px;
      margin-bottom: 20px;
      outline: 2px solid #eeeeee;

      &:focus {
        outline: 2px solid #a66cff;
      }
    }

    .optionArea {
      height: 400px;
      overflow-y: auto;
      border-radius: 10px;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #1b2433;
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    button {
      width: 80px;
      height: 30px;
      box-sizing: border-box;
      margin: 5px;
      border: none;
      border-radius: 10px;
      background-color: #a66cff;
      cursor: pointer;
      color: white;
    }
  }
}

@keyframes upModal {
  0% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0px);
  }
}
