.slider {
  width: 40px;
  background-color: #2c3333;
  color: white;
  user-select: none;

  .indicators {
    width: 100%;
    overflow: hidden;
    position: relative;
    perspective: 800px;

    .current {
      width: 100%;
      height: 20px;
      position: absolute;
      left: 0px;
      background-color: rgba($color: white, $alpha: 0.3);
    }

    .element {
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0px;
      transition: top 0.05s, transform 0.05s;
    }
  }
}
