.toggle {
  width: 35px;
  height: 17px;
  border-radius: 20px;
  background-color: #d7d7d7;
  border: 2px solid #a66cff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;

  .button {
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    transition: left 0.3s;
  }
}
