.mainPage {
  flex: 1;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btnArea {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
