@import "./reset.scss";

.App {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  overflow: hidden;

  .modalArea {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: black, $alpha: 0.1);
    z-index: 25556;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
